@import "tailwindcss";
@source "../../../Pages";

@layer base {
  a {
    @apply text-red-700;
  }

  button, .upload-label {
    @apply flex bg-gray-300 py-1 px-2 border rounded border-gray-400 cursor-pointer text-black;

    &.icon-btn-text {
      svg {
        @apply mr-2 relative;
        top: 4px;
      }
    }

    &:hover {
      @apply bg-black border-black text-white;
    }
  }

  .upload-label {
    @apply inline-flex
  }

  .button-group {
    @apply flex;

    button {
      @apply mr-1
    }
  }

  input:not([type="file"]), select, textarea {
    @apply border rounded border-gray-400 py-1 px-2;
  }

  input[type="file"] {
    @apply absolute;
    left: -1000px;
  }

  h1 {
    @apply text-2xl mt-2 mb-4 font-bold;
  }

  h2 {
    @apply text-lg mt-2 mb-2;
  }

  h3 {
    @apply mt-2 mb-2;
  }

  .item-list-row {
    @apply col-span-full grid grid-cols-subgrid relative 
  }

  .editing {  
    @apply bg-black text-white;

    a {
      @apply text-red-300;
    }

    button, .upload-label {
      @apply bg-gray-300 border-black text-black;

      &:hover {
        @apply bg-black border-white text-white;
      }
    }

    input:not([type="file"]), select, textarea {
      @apply border border-white bg-black text-white;
    }

    .item-list-row {
      @apply after:border-gray-600
    }
  }
}

.waveform {
  padding: 10px 0;
}

.session {
  margin-top: 30px;
}

.red {
  background: red;
}

#root, #__next {
  isolation: isolate;
}

::part(scroll) {
  padding: 30px 0;
}

::part(regions-container) {
  top: -30px;
  bottom: -30px;
  height: unset;
}

::part(region-content) {
  position: absolute;
  top: calc(0 - 30px - 6px);
  margin-top: 0;
  left: 0;
  right: 0;
  padding: 0;
  padding-left: 5px;
  display: block;
  height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::part(region-content sx-song) {
  padding-top: 0;
  padding-bottom: 0;
}

::part(region-content sx-section) {
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
}

::part(region) {
  top: 30px;
  bottom: 30px;
  height: unset;
  border-radius: 0;
  border: none;
  background: rgba(255 0 0 / 0.2);
}

::part(region sx-current) {
  background: rgba(255 0 0 / 0.45);
}

::part(region)::before,
::part(region)::after {
  content: '';
  position: absolute;
  top: -30px;
  bottom: -30px;
  width: 0px;
}

::part(region)::before {
  left: 0;
  border-left: 2px solid black;
}

::part(region)::after {
  right: 0;
  border-right: 2px solid black;
}

::part(region sx-locked-left)::before {
  border-left: 2px dotted black;
}

::part(region sx-locked-right)::after {
  border-right: none;
}

::part(region-handle) {
  background: none;
  border: none;
  border-radius: 0;
  width: 20px;
  cursor: default;
}

::part(region-handle-left) {
  left: calc(0 - (20px / 2));
}

::part(region-handle-right) {
  right: calc(0 - (20px / 2));
}

::part(region-handle sx-editable) {
  cursor: ew-resize;
}

::part(region sx-editable) {
  background: rgba(255 0 0 / 0.3);
}

::part(region sx-editable sx-current) {
  background: rgba(255 0 0 / 0.55);
}

::part(region sx-editable)::before,
::part(region sx-editable)::after {
  border-color: white;
}

::part(region-content sx-current) {
  font-weight: bold;
}